
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index Page</title>
    
</head>
<body>
    <div> 
        <h1>This is index page</h1><br />
        <a href=/Public/index>Public Page</a><br />
        <a href=/Secret/index>Secret Page</a>
    </div>
</body>
</html>
