
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Secret Page</title>
</head>
<body>
    <h1>Secret Page</h1>
    <p>This page only can be seen by authorized users.</p><br />
    <br />
    <a href=/Default/index>Back</a>

    <div>
    </div>
</body>
</html>
